/**
 * J4 & J5 Admin Template (Atum) Customisations
 * a variety of minor and subtle size changes, hilites and masking reducing
 * some of the glare & "super-sized" look & feel
 * + minor J5 darkmode adjustments
 * @RussW 28-dec-2023
 */
:root {
	--font-size-default: 0.95rem;
	--font-size-small: 0.76rem;
	--font-weight-default: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--color-heading: #424242;
	--font-size-heading: 1.15rem;
}

/**
 * Development Highlighted Header
 * comment out for production use
 */
/*
.header, .header .logo { background: var(--warning) !important; }
.header-item-content.joomlaversion { color: var(--white) !important; }
*/
/* end : development css */

html,
body {
	font-size: var(--font-size-default);
	line-height: 1.4;
}
/* hide the login screen header title & sidebar */
.view-login #header .header-title,
.view-login #sidebar-wrapper {
	display: none !important;
}
/* reset login box width on mobiles */
.view-login .container-main {
	display:block !important;
}

/* reset logo image to a more reasonable width layout */
.task-logout .login .logo,
.view-login .login .logo {
	padding: 0 0px 20px;
}
.task-logout .login img,
.view-login .login img {
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

/* logged-in admin pages */
.header .logo {
	background: var(--template-bg-dark);
	max-width: 16rem;
}
.header .logo img,
.header .logo svg {
	max-height: 40px;
}
.header .logo.small img.logo-collapsed {
	max-width: 40px;
	max-height: 40px;
}
.main-nav-container,
#sidebarmenu,
.sidebar-wrapper,
.item-level-1 {
	max-width: 16rem;
}
.main-nav {
	font-size: 0.9rem !important;
}
.sidebar-wrapper .sidebar-menu {
	flex: 1 0 16rem;
	flex-basis: 16rem;
	max-width: 16rem;
}
.main-nav-container li.item.item-level-2 > a {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
	min-height: 36px;
}
.main-nav-container ul.collapse-level-2 {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
}
.main-nav-container li.item.item-level-3 > a {
	min-height: 34px;
}
.main-nav-container .mm-active > a.has-arrow {
	background: #1f3047;
}

.content .card {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	transition: box-shadow 0.25s ease-in-out;
}
.content .card:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* stop cards within cards (mainly akeeba & Tassos) also aquiring box-shadows (issue #1) */
.content .card .card-body .card,
.content .card .card-body .card:hover {
	box-shadow: none;
}

h1, h2, h3, h4, h5, h6 { font-weight: var(--font-weight-500); }
.cpanel-modules h2,
.cpanel-modules h3,
.com_cpanel .card-header,
.cpanel .card-header h3 {
	color: var(--color-heading);
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-500);
}
.quick-icons .nav {
	grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}

@media (min-width: 576px) {
	.quick-icons .nav {
		grid-template-columns: repeat(auto-fit,minmax(135px,1fr));
	}
}

.quick-icons .quickicon {
	--bg-color: var(--light);
}
.quick-icons .quickicon a .quickicon-name {
	font-weight: var(--font-weight-default);
	line-height: 1.1;
	font-size: 0.8rem;
}

 /* change scary danger/red notifications to less scary warning/orange */
.quick-icons .quickicon a.danger,
.quick-icons .quickicon a.warning {
	--text-color: var(--warning);
	--bg-color: #fff9ed;
	--icon-color: #eca000;
	--bg-color-hvr: var(--warning);
}

/* normalising typography & data component layouts */
.small {
	font-size: var(--font-size-small);
	line-height: 1.1;
}
.btn {
	font-weight: var(--font-weight-default) !important;
}
.subhead a.btn {
	font-weight: var(--font-weight-default) !important;
	line-height: 1.25 !important;
	padding: 0.25rem 0.75rem !important;
	font-size: 0.85rem !important;
}
.table>:not(:first-child) {
	border-top: none;
}
.table thead th,
.table tbody th {
	color: #888;
	font-size: 0.9rem;
	font-weight: var(--font-weight-default);
}
.table tbody td {
	color: #666;
}
.cpanel-modules .card-header {
	background: var(--light);
	margin-bottom: 1rem;
	padding: 0.75rem 1rem .50rem;
}
.cpanel-modules .quickicon a:hover .quickicon-icon>* {
	color: var(--light);
}
.cpanel-modules .list-group-item a,
.table tbody td,
.table tbody a:not(.badge) {
	font-size: 0.875rem;
	line-height: 1.2;
	font-weight: var(--font-weight-default);
}
.tbody-icon [class*=" fa-"], .tbody-icon [class*=" icon-"], .tbody-icon [class^=fa-], .tbody-icon [class^=icon-] {
	width: 20px;
	height: 20px;
	font-size: 0.78rem;
	line-height: 17px;
}
.table>:not(caption)>*>* {
	border-bottom-color: #eaeaea;
	padding: 0.6rem 0.75rem;
}
.subhead input,
.subhead button,
.js-stools-container-selector input,
.js-stools-container-selector select,
.js-stools-container-selector button:not(#myTab button),
.js-stools-container-filters input,
.js-stools-container-filters select,
.js-stools-container-filters button:not(#myTab button),
.js-stools-container-filters .choices__inner,
.js-stools-container-bar input,
.js-stools-container-bar select,
.js-stools-container-bar button:not(#myTab button) {
	font-weight: var(--font-weight-default) !important;
	line-height: 0.95 !important;
	font-size: 0.85rem !important;
	height: 28px !important;
	min-height:28px;
}
.choices[data-type*=select-multiple] .choices__input,
.choices[data-type*=text] .choices__input {
	height: 24px !important;
	min-height: 24px;
}
.choices__list--multiple .choices__item {
	height: 22px !important;
	min-height: 22px !important;
	font-weight: var(--font-weight-default);
	padding: 2px 5px;
}
.choices__item .choices__button_joomla {
	height: 20px !important;
	min-height: 20px !important;
	max-height: 20px !important;
	line-height: 0.6rem;
}
select,
.js-stools-container-box .custom-select,
.form-select {
	display: block !important;
	width: 100% !important;
	padding: 0.5rem 3rem 0.5rem 1rem !important;
}
.subform-repeatable-group input[type='text'] { width: 100%; }
.topview .quickicon-icon i.fa-plus-circle {
	color: var(--success);
}

.view-article.layout-edit label { font-size: 1rem; }

/*
 * extension customisations
 * some modules may need prefix classes added first
 */


/**
 * Joomla 5 Dark Mode
 * minor additions to improve the default dark mode styling (also partial J4 support)
 * - delete or comment out to use Joomla native darkmode styling
 *
 */
@media (prefers-color-scheme: dark) {
	:root {
		--darkblue-bg: #243142;
		--body-bg: #1b222e;
		--card-bg: #222d3d;
		--list-group-bg: var(--card-bg);
		--success: #00a42b;
		--template-bg-dark-90: var(--body-bg);
	}

	body.admin {
		background: var(--body-bg);
	}
	a {
		color: var(--template-bg-light);
	}
	.content .card,
	.cpanel-modules .card,
	.list-group-item,
	.table>:not(caption)>*>* {
		background: #222d3d !important;
	}
	.content .card,
	.cpanel-modules .card {
		border: 1px solid var(--gray-700);
	}
	.content .card:hover,
	.cpanel-modules .card:hover {
		border: 1px solid var(--gray-600);
	}
	.cpanel-modules .card-header {
		background: var(--template-bg-dark-70);
	}
	.cpanel-modules h2,
	.cpanel-modules h3,
	.com_cpanel .card-header,
	.cpanel .card-header h3 {
		color: var(--template-text-light);
	}
	.quick-icons {
		background-color: #222d3d !important;
	}
	.quick-icons .quickicon-group,
	.quick-icons .quickicon-single {
		border-color: var(--gray-700)!important;
	}
	.quick-icons .quickicon {
		--bg-color: var(--template-bg-dark-80) !important;
	}
	.quick-icons .quickicon a:not([id^='plg_quickicon']),
	.quick-icons .quickicon a:not([id^='plg_quickicon']) .quickicon-icon>* {
		color: var(--gray-400);
	}
	.quick-icons .quickicon a:hover:not([id^='plg_quickicon']),
	.quick-icons .quickicon a:hover:not([id^='plg_quickicon']) .quickicon-icon>* {
		color: var(--white);
	}
	.quick-icons .quickicon-linkadd a:active,
	.quick-icons .quickicon-linkadd a:focus,
	.quick-icons .quickicon-linkadd a:hover {
		background: var(--template-bg-dark-60)!important;
	}
	.table>:not(caption)>*>*,
	.list-group-item {
		border-bottom-color: var(--gray-600);
	}
	.table tbody td {
		color: var(--gray-500);
	}
	.form-check-input {
		border: 1px solid var(--gray-500);
	}
}
