/**
 * J4 Admin Template (Atum) Customisations
 * a variety of minor and subtle size changes, hilites and masking reducing
 * some of the glare & "super-sized" look & feel
 * @RussW 18-Aug-2021
 */
 html,
 body {
	 font-size: 0.95rem;
	 line-height: 1.4;
 }
 .view-login .main-brand h2 {
	 display: none;
 }
 .header .logo {
	 background: var(--template-bg-dark);
	 max-width: 16rem;
 }
 .main-nav-container,
 #sidebarmenu,
 .sidebar-wrapper, .item-level-1 {
	 max-width: 16rem;
 }
 .main-nav {
	 font-size: 0.9rem !important;
 }
 .sidebar-wrapper .sidebar-menu {
	 flex: 1 0 16rem;
	 flex-basis: 16rem;
	 max-width: 16rem;
 }
 .main-nav-container li.item.item-level-2 > a {
	 border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
	 min-height: 36px;
 }
 .main-nav-container ul.collapse-level-2 {
	 border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
 }
 .main-nav-container li.item.item-level-3 > a {
	 min-height: 34px;
 }
 .main-nav-container .mm-active > a.has-arrow {
	 background: #1f3047;
 }
 h1, h2, h3, h4, h5, h6 { font-weight: 500; }
 .cpanel-modules h2,
 .cpanel-modules h3,
 .com_cpanel .card-header,
 .cpanel .card-header h3 {
	 color: #424242;
	 font-size: 1.1rem;
	 font-weight: 400;
 }
 .quick-icons .nav {
	 grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
 }
 @media (min-width: 576px) {
	 .quick-icons .nav {
		 grid-template-columns: repeat(auto-fit,minmax(135px,1fr));
	 }
 }
 .quick-icons .quickicon a .quickicon-name {
	 font-weight: 400;
	 line-height: 1.1;
	 font-size: 0.8rem;
 }
 .table thead th,
 .table tbody th {
	 color: #888;
	 font-size: 0.9rem;
	 font-weight: 400;
 }
 .table tbody td {
	 color: #666;
 }
 .cpanel-modules .card-header {
	background: var(--light);
	margin-bottom: 1rem;
	padding: 0.75rem 1rem .50rem;
}
 .cpanel-modules .list-group-item a,
 .table tbody td,
 .table tbody a:not(.badge) {
	 font-size: 0.875rem;
	 line-height: 1.2;
	 font-weight: 400;
 }
 .table>:not(caption)>*>* {
	 border-bottom-color: #eaeaea;
	 padding: 0.6rem 0.75rem;
 }
 .small {
	 font-size: 0.76rem;
	 line-height: 1.1;
 }
 .btn {
	 font-weight: 400;
	 line-height: 1.25;
	 padding: 0.25rem 0.75rem;
	 font-size: 0.85rem;
 }
